<div class="popover-content-content">
</div>
<div class="popover-content-footer">
	{{#if showCheck}}<button class="btn btn-link btn-sm btn-check" title="全选"><span class="glyphicon glyphicon-unchecked"></span>全选</button>{{/if}}		
	<button class="btn btn-success btn-sm pull-right btn-ok" title="确定"><span class="glyphicon glyphicon-ok"></span>确定</button>
</div>