<ul class="list-unstyled">
	{{#each data}}
	<li id={{id}}>{{#if ../showCheck}}<span class="glyphicon {{#isExist id ../../checkedArr}} glyphicon-check {{else}} glyphicon-unchecked {{/isExist}}">{{/if}}</span>{{name}}</li>
	{{/each}}
</ul>